<h1> Edit student </h1>
<%= @student.name %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>

      <%= f.label :year %>
      <%= f.text_field :year, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.text_field :age, class: 'form-control' %>
	  
	  <%= f.label :contact %>
	  <%= f.text_field :contact, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn-submit" %>
    <% end %>

  </div>
</div>