<div class="student">
  <div class="container">
	<h2><%= @student.name %></h2>
	<body>
		<tr>
		<td><%= @student.school %></td>
		<td><%= @student.year %></td>
		<td><%= @student.age %></td>
		<td><%= @student.contact %></td>
		<td><%= link_to "Edit", edit_student_path(@student.id) %></td>
		</tr>
		
	</thead>
    <div class="cards row">
      <% @comments.each do |d| %>
      <div class="card col-xs-4">
        <h2><%= d.created_at%></h2>
        <p><%= d.content %></p>
		<p><%= d.id %></p>
		<li><%= link_to "Delete", student_path(d.id), method: "delete" %> </li>
      </div>
      <% end %>
    </div>
	
  </div>
</div>

<div class="login">

  <div class="container">
    <div class="form">

    <h1>add comment</h1>

    <%= form_for [@student, @comments.new] do |f| %>
		<%= f.text_area :content, :placeholder => "Comment", :required => 'required' %>
		<%= f.submit "add comment", class: "btn-submit" %>
	<%end%>

  
    </div>
  </div>
</div>